[run]
branch = True
omit =
    alembic/*
    tests/*
    resolvers/*
    model/strawberry/*

[report]
fail_under=90

; Regexes for lines to exclude from consideration
exclude_also =
    ; Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    raise ValueError
    def __str__
