name: wikibase-metadata

services:
  database:
    image: postgres:16-alpine
    volumes:
     - ./postgres-database:/var/lib/postgresql/data:z
    expose:
      - 5432
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pword
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d db"]
      interval: 5s
      timeout: 3s
      retries: 12
    
  database-update:
    image: wikibase-metadata-backend
    build: 
      context: ./backend
      dockerfile: ./db.Dockerfile
    group_add:
      - ${TEAM_GID}
    expose:
      - 8000
    volumes:
      - ./logs/:/app/logs/:z
    environment:
      AUTH_TOKEN: ${AUTH_TOKEN}
      DATABASE_URL: postgresql+asyncpg://user:pword@database:5432/db
      LOG_LEVEL: ${LOG_LEVEL}
      SETTINGS_FILE: ${SETTINGS_FILE}
    depends_on:
      database:
        condition: service_healthy
    command: alembic upgrade head && pytest -m data

  backend:
    image: wikibase-metadata-backend
    build: 
      context: ./backend
    group_add:
      - ${TEAM_GID}
    expose:
      - 8000
    volumes:
      - ./logs/:/app/logs/:z
    environment:
      AUTH_TOKEN: ${AUTH_TOKEN}
      DATABASE_URL: ${DATABASE_URL}
      LOG_LEVEL: ${LOG_LEVEL}
      SETTINGS_FILE: ${SETTINGS_FILE}
    restart: unless-stopped
    depends_on:
      database:
        condition: service_healthy
      database-update:
        condition: service_completed_successfully

  frontend:
    image: wikibase-metadata-frontend
    build:
      context: ./frontend
      args:
        VITE_BACKEND_URL: http://localhost:8000/graphql
    expose:
      - 3000
    environment:
      VITE_BACKEND_URL: http://localhost:8000/graphql
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on: [backend, frontend]
    restart: unless-stopped
