aiosqlite>=0.20.0
alembic>=1.14.1
APScheduler>=3.11.0
beautifulsoup4>=4.12.3
fastapi[standard]>=0.115.7
gunicorn>=23.0.0
httpx>=0.28.1
numpy>=1.26.4,<2.0
requests>=2.32.3
SPARQLWrapper>=2.0.0
sqlalchemy[asyncio]>=2.0.37
strawberry-graphql[fastapi]>=0.258.0
tqdm>=4.67.1
uvicorn[standard]>=0.34.0
