name: Backend Lint & Test

on:
  pull_request:
    paths-ignore:
      - "frontend/**"
      - ".github/workflows/frontend.yml"

jobs:
  lint-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4

      - name: npm install
        working-directory: ./backend
        run: npm install prettier prettier-plugin-ini

      - name: npm check
        working-directory: ./backend
        run: npx prettier --check .

  format-check-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.12"

      - name: Install dependencies
        working-directory: ./backend
        run: |
          python -m pip install --upgrade pip
          pip install black

      - name: Analysing the code with Black
        working-directory: ./backend
        run: black ./ --check --diff

  lint-check-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.12"

      - name: Install dependencies
        working-directory: ./backend
        run: |
          python -m pip install --upgrade pip
          pip install pylint

      - name: Analysing the code with pylint
        working-directory: ./backend
        run: pylint ./

  test-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.12"

      - name: Install dependencies
        working-directory: ./backend
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt -r requirements-dev.txt

      - name: Run tests (except data)
        working-directory: ./backend
        run: pytest -m "not data" --cov=. --order-dependencies
        env:
          PYTHONPATH: .
          SETTINGS_FILE: test-settings.ini
          DATABASE_URL: sqlite+aiosqlite:///data/wikibase-test-data.db
